.AdminTopbar {
  background-color: #ffffff;

  .container {
    padding: 30px 15px;
    display: flex;

    .search {
      display: flex;
      justify-content: end;
      align-items: center;
      background-color: #e1e2de;
      border-radius: 15px;
      padding: 5px;
      input {
        background-color: transparent;
        border-color: transparent;
        outline: none;
      }

      flex: 1;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .items {
      display: flex;
      flex: 5;
      justify-content: space-between;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 40px;
        img{
          width: 100px;
        }
      }
      nav {
        display: flex;
        align-items: center;
        .nav {
          padding: 5px 15px;
        }
      }
    }
  }
  .searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerBottom{
    display: flex;
    nav{
        ul{
            display: flex;
            li{
                list-style: none;
                padding: 10px 15px;
            }
        }
    }
  }
}
