
.user{
    display: flex;

}
.card{
    background-color: rgb(236, 236, 236);
    border-radius: 20px;

}
.image{
    padding: 20px;
    img{
        max-width: 300px;
        border-radius: 15px;
    }
}
.details{
    padding: 20px;
    /* background-color: antiquewhite; */
}
.fine_btn{
    margin: 4px 0px;
}
.fields{
    margin: 10px 0px;
}
