.fines {
  display: flex;
  justify-content: space-evenly;
}
.finebody {
  width: 300px;
  margin: 20px;
  
  &:hover{
    cursor: pointer;
  }
}
.fineHeading {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: aquamarine;
  height: 50px;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px dashed rgb(154, 154, 154);
}
.fineContainer {
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  align-items: center;
}
.fineContainer .fineDetails {
  padding: 10px;
}
.fineContainer .fineImg {
  padding: 10px;
}

.circle {
  width: 100%;
  position: relative;
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: space-between;
}
.leftCircle {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50px;
  position: relative;
  left: -20px;
}
.rightCircle {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50px;
  position: relative;
  left: 20px;
}
.fineImg{
    display: flex;
    justify-content: center;
    align-items: center;

  }
.fineImg img{
  max-width: 150px;
}